<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kimbs.webflux.repository.CustomerMapper">
    <select id="selectCustomerById" resultType="org.kimbs.webflux.model.Customer">
        SELECT 
              id
            , firstname
            , lastname
            , age
        FROM
            customer
        WHERE 
            id = #{id}
    </select>

    <select id="selectCustomers" resultType="org.kimbs.webflux.model.Customer" parameterType="list">
        SELECT 
              id
            , firstname
            , lastname
            , age
        FROM
            customer
        
        <if test="null != list and !list.isEmpty()">
            <where>
                <foreach collection="list" item="item" separator="OR">
                       firstname LIKE CONCAT('%', #{item}, '%')
                    OR lastname LIKE CONCAT('%', #{item}, '%')
                </foreach>
            </where>
        </if>
        <!-- <if test="null != search">
        WHERE 
               firstname LIKE CONCAT('%', #{search}, '%')
            OR lastname LIKE CONCAT('%', #{search}, '%')
        </if> -->
    </select>

    <insert id="inserCustomer" parameterType="org.kimbs.webflux.model.Customer" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
            customer (
                  id
                , firstname
                , lastname
                , age
            )
        VALUES (
              #{id}
            , #{firstname}
            , #{lastname}
            , #{age}
        )
    </insert>

    <update id="updateCustomer" parameterType="org.kimbs.webflux.model.Customer">
        UPDATE
            customer
        SET
              firstname = #{firstname}
            , lastname = #{lastname}
            , age = #{age}
        WHERE 
            id = #{id}
    </update>

    <delete id="deleteCustomer">
        DELETE FROM
            customer
        WHERE 
            id = #{id}
    </delete>
</mapper>